body{
    background-color: rgb(32, 28, 68);
}

h1{
    padding-top:21px;
    text-align:center;
    font-size: 45px;
    color: rgb(213, 213, 255);
    font-family: "Lucida Console", "Courier New", monospace;
}

.party1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.education{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.coding{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.party{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.health{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
}

p{
    color: rgb(213, 213, 255);
    text-align:center;
    font-size:20px;
    padding-right:70px;
    padding-left: 70px;
}

h2{
    color: rgb(213, 213, 255);
    text-align:center;
    font-size:30px;
}

.Back{
    background-color: #11406d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.center{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

ul{
    display: table;
    margin: 0 auto;
    font-size:40px;
}

a:link, a:visited {
  background-color: #11406d;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:  rgb(32, 28, 68);
  color: white;
}

.lists{
    color: rgb(213, 213, 255);
}

.lists li{
    font-size:20px;

}